{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "extends": [
    "esnext",
    "plugin:react/recommended",
    "airbnb"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}],
    "react/require-default-props": [0],
    "no-use-before-define": ["error", { "functions": false }],
    "max-len": ["error", { "code":120 }]
  }
}